.content-wrap{
    width: 100%;
    overflow: hidden;
}
/* ------------------------------- */
#profile,#skills{
    margin-top: 100px;
}
#about-me::after{
    content: "";
    display: block;
    clear: both;
}
.hyemin{
    display: block;
    width: 40%;
    float: left;
}
.about-container{
    float: right;
    width: 50%;
}
.tit-name{
    letter-spacing: 1.2vw;
}

/* 프로필 */
#profile{
    margin-top: 100px;
    overflow: hidden;
}
#profile > li{
    float: left;
    width: 25%;
}

/* 스킬 */
#skills{
    width: 100%;
    background-color: #151515;
    padding: 80px 0;
}
.development{
    margin-top: 70px;
}
.design-skill,
.development-skill{
    overflow: hidden;
    margin-top: 30px;
}
.development-skill > li:nth-child(n+3){
    margin-top: 30px;
}
.design-skill > li,
.development-skill > li{
    float: left;
    width: 45%;
    overflow: hidden;
    margin-right: 10%;
}
.design-skill > li:nth-child(2n),
.development-skill > li:nth-child(2n){
    margin-right: 0;
}
/* 공통 속성 */
.skill-ico{
    display: block;
    width: 12%;
    float: left;
}
.skill-name{
    width: 85%;
    float: right;
}
.skill-name > p{
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    font-weight: 800;
}
/* 스킬 그래프 */
.graph{
    height: 20px;
    margin-top: 10px;
    background-color: #222;
    border-radius: 20px;
}
.graph > span{
    display: block;   
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    border-radius: 20px;
    color: #fff;
    background-color: blue;
}
.graph.stack01 span{
    animation: skill-ani01 2s 1;
}
@keyframes skill-ani01{
    0%{
        width: 0;
        color: transparent;
    }
    40%{
        color: #fff;
    }
    100%{
        width: 90%;
    }
}