.content-wrap{
    width: 100%;
    overflow: hidden;
}
.tit-name{
    letter-spacing: 1.2vw;
}
.sub-tit-name > span{
    color: #fff;
    margin-left: 10px;
    font-weight: 700;
}
.txt{
    line-height: 2;
}
/* ------------------------------- */
#profile,#skills{
    margin-top: 100px;
}
#about-me::after{
    content: "";
    display: block;
    clear: both;
}
#about-me{
    position: relative;
}
.hyemin{
    display: block;
    width: 40%;
    float: left;
}
.about-container{
    float: right;
    width: 50%;
}
/* 프로필 */
#profile{
    overflow: hidden;
}
#profile > li{
    float: left;
    width: 25%;
}

/* 스킬 */
#skills{
    width: 100%;
    background-color: #151515;
    padding: 80px 0;
}
.development{
    margin-top: 70px;
}
.design-skill,
.development-skill{
    overflow: hidden;
    margin-top: 30px;
}
.development-skill > li:nth-child(n+3){
    margin-top: 30px;
}
.design-skill > li,
.development-skill > li{
    float: left;
    width: 45%;
    overflow: hidden;
    margin-right: 10%;
}
.design-skill > li:nth-child(2n),
.development-skill > li:nth-child(2n){
    margin-right: 0;
}
/* 공통 속성 */
.skill-ico{
    display: block;
    width: 12%;
    float: left;
}
.skill-name{
    width: 85%;
    float: right;
}
.skill-name > p{
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    font-weight: 800;
}
/* 스킬 그래프 */
.graph{
    height: 20px;
    margin-top: 10px;
    background-color: #222;
    border-radius: 10px;
    width: 100%;
}
.graph > span{
    display: block;   
    width: 0;
    color: transparent;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    border-radius: 10px;
    background-color: blue;
}
.graph.stack01 span.on{
    animation: skill-ani01 2s 1 forwards;
}
.graph.stack02 span.on{
    animation: skill-ani02 2s 1 forwards;
}
.graph.stack03 span.on{
    animation: skill-ani03 2s 1 forwards;
}
.graph.stack04 span.on{
    animation: skill-ani04 2s 1 forwards;
}
.graph.stack05 span.on{
    animation: skill-ani05 2s 1 forwards;
}
.graph.stack06 span.on{
    animation: skill-ani06 2s 1 forwards;
}
@keyframes skill-ani01{
    0%{ width: 0;color: transparent;} 
    100%{ width: 98%; color: #fff;}
}
@keyframes skill-ani02{
    0%{ width: 0;color: transparent;} 
    100%{ width: 80%; color: #fff;}
}
@keyframes skill-ani03{
    0%{ width: 0;color: transparent;} 
    100%{ width: 92%; color: #fff;}
}
@keyframes skill-ani04{
    0%{ width: 0;color: transparent;} 
    100%{ width: 90%; color: #fff;}
}
@keyframes skill-ani05{
    0%{ width: 0;color: transparent;} 
    100%{ width: 75%; color: #fff;}
}
@keyframes skill-ani06{
    0%{ width: 0;color: transparent;} 
    100%{ width: 68%; color: #fff;}
}
/* 팅크 htink */
.think-container{
    width: 100%;
}
.think-container::after{
    content: "";
    display: block;
    clear: both;
}
.think-left{
    float: left;
    width: 55%;
}
.think-left > li{
    margin-top: 50px;
}
.think-left .txt{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.75);
}
.think-right{
    float: right;
    width: 30%;
    text-align: center;
    position: relative;
    z-index: 0;
}
.think-right > img{
    width: 80%;
}
.think-right::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 100%;
    z-index: -1;
}
/* 이력서 */
.resume{
    width: 100%;
    overflow: hidden;
}
.resume> li{
    float: left;
    width: 48%;
    margin-right: 4%;
}
.resume> li:last-child{
    margin-right: 0;
}
.resume-btn{
    background-color: #222;
    color:  rgba(255, 255, 255, 0.6);
    display: block;
    line-height: 40px;
    text-align: center;
    transition: 0.3s ease;
    font-size: 14px;
}
.resume-btn:hover{
    color: #fff;
    background-color: blue;
	transition: 0.5s ease;
}
.resume-btn svg{
	fill: #aaa;
	transform: translateX(0);
	margin-left: 10px;
	transition: 0.3s ease;
}
.resume-btn:hover svg{
    fill: #fff;
	transition: 0.5s ease;
}
.resume-arr:hover svg{
	fill: #fff;
	transform: translateX(14px);
	transition: 0.5s ease;
}
/* ----------
.------------------------------------- */
/* 미디어 쿼리 */
@media all and (max-width:1200px) { 
    #profile{
        margin-top: 70px;
    }
    #profile > li{
        width: 50%;
    }
    #profile > li:nth-child(n+3){
        margin-top: 30px;
    }
    #profile{
        margin-top: 80px;
    }
    .design-skill > li,
    .development-skill > li{
        width: 48%;
        margin-right: 4%;
    }
    .think-right{
        margin-top: 100px;
    }
}
@media all and (max-width:1024px) { 
    #profile,#skills{
        margin-top: 60px;
    }
    #skills{
        padding: 60px 0;
    }
    .think-right{
        width: 35%;
    }
    .think-right::before{
        width: 200PX;
        height: 200PX;
    }
    .hyemin{
        width: 45%;
    }
}
@media all and (max-width:840px) { 
    .hyemin{
        width: 100%;
    }
    .about-container{
        width: 100%;
        margin-top: 40px;
    }
    .think-right{
        margin-top: 150px;
    }
}
@media all and (max-width:768px) {  
    .design-skill > li,
    .development-skill > li{
        width: 100%;
        margin-top: 30px;
    }
    .think-left{
        float: left;
        width: 100%;
    }
    .think-left > li{
        margin-top: 50px;
    }
    .think-right{
        margin-top: 50px;
        width: 100%;
    }
    .think-right > img{
        width: 50%;
    }
    .think-right::before{
        width: 300PX;
        height: 300PX;
    }
}
@media all and (max-width:624px) { 
    #profile > li{
        width: 100%;
        margin-top: 30px;
    }
    #skills .sub-tit-name{
        display: block;
    }
    .design-skill,
    .development-skill{
        overflow: hidden;
        margin-top: 10px;
    }
    .skill-ico{
        display: block;
        width: 15%;
        float: left;
    }
    .skill-name{
        width: 75%;
        float: right;
    }
    .think-right::before{
        right: 10%;
        width: 250PX;
        height: 250PX;
    }
}
@media all and (max-width:480px) { 
    .think-left > li{
        margin-top: 30px;
    }
    .think-right::before{
        width: 200px;
        height: 200px;
    }
    .resume> li{
        float: left;
        width: 300px;
        margin-right: 0;
        position: relative;
        left: calc(50% - 150px);
    }
    .resume> li:last-child{
        margin-right: 0;
        margin-top: 10px;
    }
}
@media all and (max-width:320px) {
    .think-right::before{
        width: 150px;
        height: 150px;
    }
}