
@media all and (max-width:1200px) { 
	.sidemenu{
		width: 60%;
		right: -60%;
	}
	.width70{
		width: 80%;
	}
 }
 @media all and (max-width:1024px) { 
	.web-nav{
		display: none;
	}
	.width80,
	.width70{
		width: 90%;
	}
	.sidemenu{
		width: 70%;
		right: -70%;
	}
	.margin-top{
		margin-top: 10vh;
	}
	/* 슬라이드 페이징 */
	.swiper-pagination{
		width: 100px !important;
		height: 20px !important;
		left: 74% !important;
		top: 70% !important;
		z-index: 999;
	}
	/* 슬라이드 이미지*/
	.img-right{
		width: 80%;
	}
	.img-right img{
		width: 100%;
		position: relative;
		top: 40%;
		transform: translateY(-50%);
	}
	.img-right.on{
		left: 50%;
		transform: translateX(-50%);
	}
	/* 슬라이드 텍스트 */
	.project-info{
		position: absolute;
		color: #fff;
		top: 70%;
		left: 0%;
		transform: translate(0);
		width: 100%;
		text-align: center;
	}
	.page-btn .go-page{
		margin: 30px auto;
	}
	.project-txt{
		margin-top: 2%;
	 }
	/*.page-btn .go-page{
		margin: 30px auto;
	} */
	/* 모바일 버튼 */
	.ability-btn{
		display: none;
	}
	.ability-btn-mobile{
		display: block;
	}
	.ability-wed{
		display: none;
	}
	/* 어바웃 구조 */
	.info-left,
	.info-right{
		width: 100%;
	}
	.info-left{
		padding-right: 20%;
	}
	.info-right{
		overflow: hidden;
	}
	.info-right> div{
		float: left;
		width: 50%;
	}
	.education{
		margin-top: 0;
	}
	/* 어빌리티 */
	.ability-content li{
		width: 33.333%;
		text-align: center;
		margin-right: 0%;
	}
	/* 컨텍트 */
	.contact-left{
		float: left;
		width: 30%;
	}
	.contact-right{
		float: right;
		width: 60%;
	}
 }
@media all and (max-width:768px) { 
	#wrap{
        border: solid 10px blue;
	}
	.sidemenu{
		width: 90%;
		right: -90%;
	}
 }
@media all and (max-width:480px) { 
	#wrap{
        border: solid 10px green;
	}
	.sidemenu{
		width: 90%;
		right: -90%;
	}
 }
 @media all and (max-width:320px) { 
	#wrap{
        border: solid 10px palevioletred;
	}
 }