
@media all and (max-width:1200px) { 
	.sidemenu{
		width: 60%;
		right: -60%;
	}
	.width70{
		width: 80%;
	}
 }
 @media all and (max-width:1024px) { 
	.web-nav{
		display: none;
	}
	.width80,
	.width70{
		width: 90%;
	}
	.sidemenu{
		width: 70%;
		right: -70%;
	}
	.margin-top{
		margin-top: 10vh;
	}
	/* 슬라이드 페이징 */
	.swiper-pagination{
		width: 100px !important;
		height: 20px !important;
		left: 74% !important;
		top: 70% !important;
		z-index: 999;
	}
	/* 슬라이드 이미지*/
	.img-right{
		width: 70vh;
	}
	.img-right img{
		top: 45%;
		transform: translateY(-50%);
	}
	.img-right.on{
		left: 50%;
		transform: translateX(-50%);
	}
	/* 슬라이드 텍스트 */
	.project-info{
		top: 70%;
		left: 0%;
		transform: translate(0);
		width: 100%;
		text-align: center;
	}
	.page-btn .go-page{
		margin: 30px auto;
	}
	.project-txt{
		margin-top: 2%;
		line-height: 1.6;
	 }
	/* 모바일 버튼 */
	.ability-btn{
		display: none;
	}
	.ability-btn-mobile{
		display: block;
	}
	.ability-design{
		display: none;
	}
	/* 어바웃 구조 */
	.info-left,
	.info-right{
		width: 100%;
	}
	.info-left{
		padding-right: 20%;
	}
	.info-right{
		overflow: hidden;
	}
	.info-right> div{
		float: left;
		width: 50%;
	}
	.education{
		margin-top: 0;
	}
	/* 어빌리티 */
	.ability-content li{
		width: 33.333%;
		text-align: center;
		margin-right: 0%;
	}
	/* 컨텍트 */
	.contact-left{
		float: left;
		width: 30%;
	}
	.contact-right{
		float: right;
		width: 60%;
	}
 }
@media all and (max-width:768px) { 
	.sidemenu{
		width: 90%;
		right: -90%;
	}
	.scroll-ani,
	.top-btn{
		display: none;
	}
	/* 슬라이드 텍스트 */
	.project-info{
		top: auto;
		top: initial;
		bottom: 8%;
	}
	.project-tit{
		font-size: 30px;
		height: 30px;
	}
	/* 어바웃 구조 */
	.info-left{
		padding-right: 0;
	}
	.sns-icons{
		display: none;
	}
	.education{
		margin-top: 0;
	}
	/* 어빌리티 */
	.ability{
		padding: 3vh 0;
	}
	.ability-design{
		display: block;
	}
	.ability-content li{
		width: 50%;
		text-align: center;
		margin-right: 0%;
	}
	.ability-content li:nth-child(n+3){
		margin-top: 20px;
	}
	/* 프로젝트 */
	.project-list > li{
		width: 100%;
		margin: 0;
	}
	.project-list > li:nth-child(n){
		margin-top: 3vh;
	}
	.back-txt-ani{
		transform: rotate(90deg);
	}
	/* 컨텍트 */
	.contact-left{
		width: 100%;
	}
	.contact-right{
		width: 100%;
		margin-top: 30px;
	}
	.contact-li{
		font-size: 6vw;
		font-weight: 700;
	}
 }
 @media all and (max-width:624px) { 
	.sidemenu{
		width: 90%;
		right: -90%;
	}
	.footer-wrap > div{
		width: 100%;
		text-align: center;
	}
	/* 슬라이드 이미지*/
	.img-right{
		width: 52vh;
	}
	/* 슬라이드 텍스트 */
	.project-info{
		bottom: 20%;
	}
	.project-txt{
		display: none;
	}
	.page-btn .go-page{
		margin: 15px auto;
	}
	/* 어바웃 구조 */
	.info-left{
		padding-right: 0;
	}
	.info-right{
		margin-top: 0;
	}
	.info-right > div{
		width: 100%;
		margin-top: 3vh;
	}
	.sns-icons{
		display: none;
	}
	.education{
		margin-top: 0;
	}
	/* 어빌리티 */
	.ability{
		padding: 3vh 0;
	}
	/* 프로젝트 */
	.project-list > li{
		width: 100%;
		margin: 0;
	}
	.project-list > li:nth-child(n){
		margin-top: 3vh;
	}
	.back-txt-ani{
		transform: rotate(90deg);
	}
	/* 컨텍트 */
	.contact-left{
		width: 100%;
	}
	.contact-right{
		width: 100%;
		margin-top: 30px;
	}
	.contact-li{
		font-size: 6vw;
		font-weight: 700;
	}
	.swiper-pagination{
		left: calc(50% - 50px) !important;
		top: 62% !important;
		z-index: 999;
	}
 }
 @media all and (max-width:480px) { 
	.img-right{
		width: 52vh;
		padding: 0 5%;
	}
	.img-right img{
		top: 42%;
	}
	#wrap .slide-button-next,
	#wrap .slide-button-prev {
		display: none;
	}
	.ability-content li{
		width: 100%;
		margin-bottom: 20px;
	}
 }
 @media all and (max-width:320px) { 
	.swiper-pagination{
		top: 60% !important;
	}
	.project-info{
		bottom: 18%;
	}
 }