.content-wrap{
    width: 100%;
    overflow: hidden;
}
/* ------------------ */
.slide-content{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.swiper-container{
    width: 100%;
    height: 100vh;
}
.swiper-pagination{
    width: fit-content !important;
    height: fit-content !important;
    left: 80% !important;
    top: 40% !important;
    z-index: 999;
    transform: rotate(90deg);
}
.swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.8);
}
.swiper-pagination-bullet-active{
    background-color: #fff;
}
.swiper-slide {
    position: relative;
    border: transparent;
}
.main-slide{
    background: url('../img/back01.jpg') no-repeat top left / cover;
}
.main-slide02{
    background: url('../img/back02.jpg') no-repeat top left / cover;
}
.main-slide03{
    background: url('../img/back03.jpg') no-repeat top left / cover;
}

/* 텍스트 그룹 */
.project-info{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: 40%;
    z-index: 500;
}
.project-tit{
    font-size: 3vw;
    height: 3vw;
    overflow: hidden;
}
.project-txt{
    margin-top: 4%;
    font-size: 14px;
    color: #aaa;
    line-height: 1.7;
}

/* 애니메이션 제어 */
.project-info span{
    display: block;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s ease;
}
.project-info.on span{
    opacity: 1;
    transform: translateY(0);
    transition: 0.8s ease;
}
.project-info.on .project-txt span{
    transition-delay: 0.2s;
}
.project-info.on .project-txt span:nth-child(2){
    transition-delay: 0.3s;
}

/* img 그룹 전체 */
.img-group{
    position: absolute;
    width: 100%;
    height: 100%;
    /* transition: all cubic-bezier(.66,.51,.02,.98) 2s; */
}
.img-left{
    top: -100%;
    left: 100%;
    transition: all cubic-bezier(.10,.50,.60,.98) 5s;
    animation: comet ease 5s;
}
@keyframes comet{
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.img-right{
    width: 50%;
    height: fit-content;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 900;
    padding: 0 5%;
    transition: all ease-in-out 1s;
    opacity: 0;
    transition: all cubic-bezier(.97,.02,.02,.98) 1s; 
}
.img-right img{
    width: 100%;
}
.vips-img{
    padding-top: 5%;
}
.img-left.on{
    top: 0;
    left: 5%;
}
.img-right.on{
    left: 0;
    opacity: 1;
}
.img-single{
    position: absolute;
    transition:  all linear .1s;
    animation: rotateReversed linear 3s;
}
.img-single02{
    position: absolute;
    transition:  all linear .1s;
    animation: rotateReversed02 linear 3s;
}
@keyframes rotateReversed{
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes rotateReversed02{
    100%{
        transform: rotate(360deg);
    }
}
.swiper-slide-active .img-single{
    animation: rotate linear 300s infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(720deg);
    }
}
.swiper-slide-active .img-single02{
    animation: rotate02 linear 300s infinite;
}
@keyframes rotate02{
    100%{
        transform: rotate(-720deg);
    }
}
.comet01{
    left: 10%;
    top: 20%;
    width: 100px;
    height: 100px;
    border: solid 1px #fff;
}
.comet02{
    left: 0%;
    top: 45%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
.comet03{
    left: 50%;
    top: 30%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
.comet04{
    left: 70%;
    top: 65%; 
    width: 80px;
    height: 80px;
    border: solid 1px #fff;
}

/* 고정 별들 */
.stars{
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    animation: star-light ease-in-out 3s infinite alternate;
    z-index: 0;
}
@keyframes star-light{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.stars:nth-child(1){
    top: 10%;
    left: 30%;
    transform: rotate(45deg);
}
.stars:nth-child(2){
    top: 30%;
    left: 15%;
    animation-delay: 3s;
}
.stars:nth-child(3){
    top: 10%;
    right: 20%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    transform: rotate(55deg);
}
.stars:nth-child(4){
    bottom: 10%;
    left: 50%;
    transform: rotate(25deg);
}
.stars:nth-child(5){
    right: 10%;
    bottom: 30%;
    animation-delay: 1.5s;
}
.project{
    width: 100%;
    height: 500px;
    border: solid 10px red;
}
