.content-wrap{
    width: 100%;
    overflow: hidden;
}
.section-number{
    font-weight: 700;
    font-size: 16px;
}
/* ------------------ */
.slide-content{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 800;
    height: 100vh;
}
.swiper-container{
    width: 100%;
    height: 100vh;
}

#wrap .slide-button-next svg,
#wrap .slide-button-prev svg{
    fill: rgba(255, 255, 255, 0.3);
    transition-duration: 0.3s;
    cursor: pointer;
}
#wrap .slide-button-next,
#wrap .slide-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	text-align: center;
}
#wrap .slide-button-next:hover svg,
#wrap .slide-button-prev:hover svg{
    fill: #fff;
    transition-duration: 0.5s;
}
#wrap .slide-button-prev{
	left: 1%;
}
#wrap .slide-button-next{
	right: 1%;
}

.swiper-pagination{
    width: 100px !important;
    height: 20px !important;
    left: 80% !important;
    top: 30% !important;
    z-index: 999;
}
.swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.8);
}
.swiper-pagination-bullet-active{
    background-color: blue;
    /* point */
}
.swiper-slide {
    position: relative;
    border: transparent;
}
.main-slide{
    background: url('../img/back01.jpg') no-repeat top left / cover;
}
.main-slide02{
    background: url('../img/back02.jpg') no-repeat top left / cover;
}
.main-slide03{
    background: url('../img/back03.jpg') no-repeat top left / cover;
}

/* 슬라이드 텍스트 그룹 ***************************/
.project-info{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    width: 40%;
    z-index: 500;
}
.project-tit{
    font-size: 3vw;
    height: 3vw;
    overflow: hidden;
    text-transform: uppercase;
}
.project-txt{
    margin-top: 4%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 2;
}
.go-page{
    margin-top: 30px;
}
/* 애니메이션 제어 */
.project-info span{
    display: block;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s ease;
}
.project-info.on span{
    opacity: 1;
    transform: translateY(0);
    transition: 0.8s ease;
}
.project-info.on .project-txt span{
    transition-delay: 0.2s;
}
.project-info.on .project-txt span:nth-child(2){
    transition-delay: 0.3s;
}
.project-info.on .page-btn{
    transition-delay: 0.4s;
}
/* img 그룹 전체  ***************************/
.img-group{
    position: absolute;
    width: 100%;
    height: 100%;
    /* transition: all cubic-bezier(.66,.51,.02,.98) 2s; */
}
.img-left{
    top: -100%;
    left: 100%;
    transition: all cubic-bezier(.10,.50,.60,.98) 5s;
    animation: comet ease 5s;
}
@keyframes comet{
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* 왼쪽에서 나오는 프로젝트 사진 */
.img-right{
    width: 50%;
    top: 0;
    left: -10%;
    height: 100%;
    z-index: 900;
    padding: 0 5%;
    transition: all ease-in-out 1s;
    opacity: 0;
    transition: all cubic-bezier(.97,.02,.02,.98) 1s; 
}
.img-right img{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.img-left.on{
    top: 0;
    left: 5%;
}
.img-right.on{
    left: 0;
    opacity: 1;
}
.img-single{
    position: absolute;
    transition:  all linear .1s;
    animation: rotateReversed linear 3s;
}
.img-single02{
    position: absolute;
    transition:  all linear .1s;
    animation: rotateReversed02 linear 3s;
}
@keyframes rotateReversed{
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes rotateReversed02{
    100%{
        transform: rotate(360deg);
    }
}
.swiper-slide-active .img-single{
    animation: rotate linear 300s infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(720deg);
    }
}
.swiper-slide-active .img-single02{
    animation: rotate02 linear 300s infinite;
}
@keyframes rotate02{
    100%{
        transform: rotate(-720deg);
    }
}
.comet01{
    left: 10%;
    top: 20%;
    width: 100px;
    height: 100px;
    border: solid 1px #fff;
}
.comet02{
    left: 0%;
    top: 45%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
.comet03{
    left: 50%;
    top: 30%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}
.comet04{
    left: 70%;
    top: 65%; 
    width: 80px;
    height: 80px;
    border: solid 1px #fff;
}
.comet05{
    left: 25%;
    top: 30%;
    width: 100px;
    height: 100px;
    border: solid 1px #fff;
}

/* 고정 별들  ***************************/
.stars{
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    animation: star-light ease-in-out 3s infinite alternate;
    z-index: 0;
}
@keyframes star-light{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.stars:nth-child(1){
    top: 10%;
    left: 30%;
    transform: rotate(45deg);
}
.stars:nth-child(2){
    top: 30%;
    left: 15%;
    animation-delay: 3s;
}
.stars:nth-child(3){
    top: 10%;
    right: 20%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    transform: rotate(55deg);
}
.stars:nth-child(4){
    bottom: 10%;
    left: 50%;
    transform: rotate(25deg);
}
.stars:nth-child(5){
    right: 10%;
    bottom: 30%;
    animation-delay: 1.5s;
}
/* **********about************************** */
#about{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.my-info{
    color: #fff;
    background-color: #000;
    overflow: hidden;
    z-index: 2;
    position: relative;
}
.info-left,
.info-right{
    margin-top: 5vh;
    width: 45%;
}
.info-left{
    float: left;
}
/* 아이콘 공통 */
.sns-icons svg{
    fill: rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}
.sns-icons a:hover> svg{
    fill: #fff;
    transition: 0.6s ease;
} 
/* 가로형 */
/* .sns-icons {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
.sns-icons li{
    float: left;
    margin-right: 20px;
} */
/* 세로형 */
.info-right{
    float: right;
    /* 세로형 속성 */
    position: relative;
}
.sns-icons{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.sns-icons li{
    margin-top: 14px;
}
.education{
    margin-top: 3vh;
}
/* -------------------------------------- */
.ability{
    width: 100%;
    margin-top: 6vh;
    padding: 6vh 0;
    background-color: #151515;
    color: #fff;
}
/* 상세페이지 버튼 */
.ability-btn .go-page{
    margin-top: 40px;
}
.ability-btn-mobile{
    display: none;
}
.ability-btn-mobile .go-page{
    margin: 40px auto 0 auto;
}

.ability-content{
    width: 100%;
    overflow: hidden;
}
.ability-content li{
    float: left;
    width: 21.25%;
    margin-right: 5%;
}
.ability-content li:last-child{
    margin: 0;
}
.ability-txt-group{
    margin-top: 30px;
}
.ability-tit{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.ability-txt{
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}
/* ----------------------------------- */
#project{
    width: 100%;
    position: relative;
}
/* 백그라운드 애니메이션 */
.back-txt-ani{
    width: 100%;
    opacity: 1;
    position: absolute;
    height: 25vh;
    top: 50%;
    background: url('./../img/back-ainmation.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: bg-ani 100s linear infinite;
    z-index: 0;
}
@keyframes bg-ani {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 0;
    }
}
.project-list{
    margin-top: 6vh;
    z-index: 2;
}
.project-list::after{
    content: "";
    display: block;
    clear: both;
}
.project-list > li{
    float: left;
    width: 32%;
    background-color: #222;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}
.project-list > li:nth-child(1){
    margin-top: 3vh;
}
.project-list > li:nth-child(2){
    margin-top: 8vh;
}
.project-list > li:nth-child(3){
    margin-right: 0;
}
/* 프로젝트 호버 project hover box */
.project-list img{
    width: 100%;
    vertical-align: bottom;
}
.hover-box{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.75);
    transition: 0.3s ease;
    opacity: 0;
}
.hover-box > div{
    position: absolute;
    width: 90%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.hover-box span{
    letter-spacing: 2px;
}
.hover-txt{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 800;
}
.hover-arr{
    margin-top: 15px;
    width: 40px;
    height: 40px;
    fill: #fff;
    transform: translateX(-20px);
    transition: 0.3s ease;
}
.hover-box:hover{
    opacity: 1;
    transition: 0.6s ease;
}
.hover-box:hover .hover-arr{
    transform: translateX(0);
    transition: 0.6s ease;
}

/* ----------------------------------- */
#clock{
    color: #fff;
    margin-top: 20px;
    font-weight: 800;
    font-size: 20px;
}
.contact-container{
    margin-top: 5vh;
    overflow: hidden;
}
.contact-left{
    float: left;
    width: 25%;
}
.contact-right{
    float: right;
    width: 60%;
}
.contact-right > li{
    margin-bottom: 4vh;
}
.contact-right > li:last-child{
    margin-bottom: 0;
}
.contact-li{
    display: block;
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
}
.open-kakao img{
    width: 100%;
}
.contact-right .contact-li{
    position: relative;
    overflow: hidden;
    line-height: 1.1;
}
.contact-right .contact-li span{
    position: relative;
    z-index: 2;
}
.contact-right .contact-li::before{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 255, 0.4);
    transition: 0.3s ease-out;
}
.contact-right .contact-li:hover::before{
    left: 0;
    transition: 0.6s ease-out;
}